<!DOCTYPE html>
<html>
  <head>
    <title>Gary's Philanthropic Database of Non-Profit Volunteers</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/styles.css' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Candal&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <h1>Gary's Philanthropic Database of Non-Profit Volunteers</h1>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
