


<form action="/projects" method="post">
  <div class="form-group">
    <input id="n" name="title" class="form-control" type="text" placeholder="Enter Project Name Here">
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>



<% if @projects.any? %>
    <% @projects.each_with_index do |project, i| %>
    <% if i > 0 %>
    <hr class='spacer'>
    <% end %>
    <a href="/projects/<%= project.id %>"><%= project.title %></a>

    <% end %>
    <% else %>
    <hr class='spacer'>
    <p>There are currently no non-profit orgnanizations to display.</p>
    <% end %>
