body{
  text-align: center;
  background-color: #f2f6f5;
}

.header{
  margin: auto;
  height: 10%;
  width: 40%;
  background-color: #c8dad3;
  border: 3px solid black;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 3%;
}

h1{
  font-size: 4rem;
  font-family: 'Candal', sans-serif;
  padding-bottom: 26px;
}

h2{
  font-size: 2rem;
}

#n, #name, #volunteer_name{
  text-align: center;
  width: 30%;
  display: block;
             margin : 0 auto;
}

#gary{
  margin-top: 0;
  font-family: 'Shadows Into Light', cursive;
  font-size: 9rem;
  line-height: 9rem;
}

ul {
  text-align: center;
  list-style-position: inside;
}

li{
  list-style-type: none;
}

button {
  background-color: #63707e;
  color: #f2f6f5;
  margin-bottom: 20px;
}

button:hover {
color: #af460f;
}

.spacer {
  color: #af460f;
}

.italics{
  font-style: italic;
  display: inline;
}

#volunteer-button{
  margin-bottom: 20px;
}

#delete{
  border-radius: 50%;
  padding: 20px 20px;
  background-color: #af460f;
}

hr{
  border: 2px dotted #c8dad3;
  width: 20%;
}
